{% extends 'layout.html' %}
{% block body %}
    <section class="section fullscreen background parallax" style="background-image:url('static/upload/parallax_04.jpg');" data-img-width="1920" data-img-height="1080" data-diff="100">
        <div class="container">
            <div class="row homeform">
                <div class="col-md-5 col-xs-12">
                    <div class="home-form">
                        <!-- Nav tabs -->


                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="tab_01">
                                <h6>WHERE WOULD YOU LIKE TO GO?</h6>
                                <form class="bookform form-inline row" action="/booking.html" method="get">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" name="dest" id="destinations" placeholder=" Destination: Country, City, Island,...">

                                    </div>
                                    <!-- <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Check in" id="datepicker">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Check out" id="datepicker1">
                                            <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group make-margin col-md-6 col-sm-6 col-xs-12">
                                        <div class="dropdown">
                                            <select class="selectpicker" data-style="btn-white">
                                                <option>Adults</option>
                                                <option>2+1 with Bedroom + 2 Child</option>
                                                <option>1+1 with Bedroom + 1 Child</option>
                                                <option>2+1 with Bedroom + Full</option>
                                                <option>Full Services 15 Days</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group make-margin col-md-6 col-sm-6 col-xs-12">
                                        <div class="dropdown">
                                            <select class="selectpicker" data-style="btn-white">
                                                <option>Max Budget</option>
                                                <option>0 - $1000</option>
                                                <option>0 - $2000</option>
                                                <option>0 - $3000</option>
                                                <option>0 - $5000</option>
                                            </select>
                                        </div>
                                    </div> -->
                                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                                        <button type="submit" class="btn btn-primary btn-block"><i class="icon-search"></i>FIND CRUISE</button>
                                    </div>
                                </form>
                            </div><!-- end tab-pane -->


                        </div><!-- end tab-content -->
                    </div><!-- end homeform -->
                </div><!-- end col -->

                <div class="col-md-7 col-xs-12">
                    <div class="home-message">
                        <h1>FIND YOUR DREAM CRUISE <br>GET 3 FREE OFFERS!</h1>
                        <p><b>???</b></p>
                        <a href="#" class="btn btn-primary btn-lg border-radius">READ MORE</a>
                    </div><!-- end homemessage -->
                </div><!-- end col -->            
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section clearfix section-bottom">
        <div class="container">
            <div class="hotel-title">
                <h3>JUST 3 STEPS TO GET ON YOUR DREAM CRUISE</h3>
                <hr class="left">
            </div><!-- end hotel-title -->
            <div class="row">
                <div class="col-md-9">
                    <div class="service-style row">
                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                            <i class="icon_one"></i>
                        </div>
                        <div class="col-md-10 col-xs-10 col-sm-10">
                        <h5>PICK WHERE YOU WANT TO GO</h5>
                        <p>Specify your dream destination, specify cruise type and cabin type. Select the agents of your choice from our trusted selection of cruise experts.</p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-style row">
                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                            <i class="icon_two"></i>
                        </div>
                        <div class="col-md-10 col-xs-10 col-sm-10">
                        <h5>SIT BACK AND ENJOY A COCKTAIL</h5>
                        <p>Submit the request, wait a few hours and let the agents and our software do the work.</p>
                        </div>
                    </div><!-- end service -->

                    <div class="service-style row">
                        <div class="icon-container border-radius col-md-3 col-sm-3 col-xs-3">
                            <i class="icon_three"></i>
                        </div>
                        <div class="col-md-10 col-xs-10 col-sm-10">
                        <h5>PICK THE DREAM OFFER</h5>
                        <p>Browse the offers the agents has put together for you a go with the best and cheapest!</p>
                        </div>
                    </div><!-- end service -->


                </div><!-- end col -->

                <div class="col-md-3">
                    <img src="static/upload/girl.png" alt="" class="img-responsive">
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="little-padding section section-light clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6">
                    <a href="#"><img src="static/upload/client_01.png" alt="" class="img-responsive"></a>
                </div><!-- end col -->
                <div class="col-md-2 col-xs-6">
                    <a href="#"><img src="static/upload/client_02.png" alt="" class="img-responsive"></a>
                </div><!-- end col -->
                <div class="col-md-2 col-xs-6">
                    <a href="#"><img src="static/upload/client_03.png" alt="" class="img-responsive"></a>
                </div><!-- end col -->
                <div class="col-md-2 col-xs-6">
                    <a href="#"><img src="static/upload/client_04.png" alt="" class="img-responsive"></a>
                </div><!-- end col -->
                <div class="col-md-2 col-xs-6">
                    <a href="#"><img src="static/upload/client_01.png" alt="" class="img-responsive"></a>
                </div><!-- end col -->
                <div class="col-md-2 col-xs-6">
                    <a href="#"><img src="static/upload/client_02.png" alt="" class="img-responsive"></a>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->  

    <section class="section clearfix">
        <div class="container">
            <div class="hotel-title">
                <h4>TOP POPULAR DESTINATIONS</h4>
            </div><!-- end hotel-title -->

            <div class="row">
                <div class="col-md-6">
                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="static/upload/mini_desti_01.jpg" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>VALLE AURINA</h6>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span><!-- end rating -->
                                </div>
                                <div class="pull-right">
                                    <h6>$500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Template based on deep research on the most popular travel booking websites such as</p>
                                </div>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="static/upload/mini_desti_02.jpg" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>PRINCIPE FORTE DEI MARMI</h6>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span><!-- end rating -->
                                </div>
                                <div class="pull-right">
                                    <h6>$500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Template based on deep research on the most popular travel booking websites such as</p>
                                </div>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row noborder">
                        <div class="col-md-4">
                            <img src="static/upload/mini_desti_03.jpg" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>VOGLAUER QUADRO</h6>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span><!-- end rating -->
                                </div>
                                <div class="pull-right">
                                    <h6>$500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Template based on deep research on the most popular travel booking websites such as</p>
                                </div>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="static/upload/mini_desti_04.jpg" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>VALLE AURINA</h6>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span><!-- end rating -->
                                </div>
                                <div class="pull-right">
                                    <h6>$500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Template based on deep research on the most popular travel booking websites such as</p>
                                </div>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row">
                        <div class="col-md-4">
                            <img src="static/upload/mini_desti_05.jpg" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>PRINCIPE FORTE DEI MARMI</h6>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span><!-- end rating -->
                                </div>
                                <div class="pull-right">
                                    <h6>$500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Template based on deep research on the most popular travel booking websites such as</p>
                                </div>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->

                    <div class="mini-desti row noborder">
                        <div class="col-md-4">
                            <img src="static/upload/mini_desti_06.jpg" alt="" class="img-responsive">
                        </div><!-- end col -->
                        <div class="col-md-8">
                            <div class="mini-desti-title">
                                <div class="pull-left">
                                    <h6>VOGLAUER QUADRO</h6>
                                    <span class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span><!-- end rating -->
                                </div>
                                <div class="pull-right">
                                    <h6>$500</h6>
                                </div>  
                                <div class="clearfix"></div>   
                                <div class="mini-desti-desc">
                                    <p>Template based on deep research on the most popular travel booking websites such as</p>
                                </div>
                            </div><!-- end title -->
                        </div><!-- end col -->
                    </div><!-- end mini-desti -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section><!-- end section -->  

    <section class="section fullscreen background parallax" style="background-image:url('static/upload/parallax_03.jpg');" data-img-width="1920" data-img-height="586" data-diff="10">
        <div class="container">
            <div id="testimonials">
                <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3>THE TRIPS SAVED MY LIFE!</h3>
                        <hr>
                        <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo<br>
                            travel, expedia, priceline, hotels.com, travelocity, kayak, orbitz, etc. This guys can’t be wrong.<br>
                            You should definitely give it a shot :)</p>
                        <h6>- DAVID / CEO AGODA -</h6>
                    </div>
                </div><!-- end testi-item -->

                <div class="testi-item">
                    <div class="hotel-title text-center">
                        <h3>THANKS YOU TRIPS! THIS IS AMAZING TRAVEL!</h3>
                        <hr>
                        <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo<br>
                            travel, expedia, priceline, hotels.com, travelocity, kayak, orbitz, etc. This guys can’t be wrong.<br>
                            You should definitely give it a shot :)</p>
                        <h6>- DAVID / CEO AGODA -</h6>
                    </div>
                </div><!-- end testi-item -->
            </div><!-- end testimonials -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="nopadding clearfix">
        <div class="owl-fullwidth">
            <div class="owl-item-full">
                <img src="static/upload/home_mini_slider_02.jpg" alt="">
            </div>
            <div class="owl-item-full">
                <img src="static/upload/home_mini_slider_01.jpg" alt="">
            </div>
        </div><!-- end container -->
    </section><!-- end section -->



    <section class="section section-light clearfix">
        <div class="container">
            <div class="top-destinations clearfix">
                <div class="hotel-title text-center">
                    <h3>BEST DESTINATIONS FOR SUMMER</h3>
                    <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo<br> travel, expedia, priceline, hotels.com,travelocity, kayak, orbitz, etc. This guys can’t be wrong.<br> You should definitely give it a shot :)</p>
                    <hr>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <div class="post-media clearfix">
                                <a href="blog-single.html"><img src="static/upload/home_desti_02.jpg" alt="" class="img-responsive"></a>
                            </div><!-- end post-media -->

                            <div class="post-title clearfix">
                                <div class="pull-left">
                                    <h5><a href="blog-single.html">AUSTRALIA</a></h5>
                                    <h6>990 PLACES</h6>
                                </div>
                                <div class="pull-right">
                                    <h5>FROM <span>$490</span></h5>
                                </div>
                            </div><!-- end ost-title -->
                            <div class="post-content clearfix">
                                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia, priceline, hotels.com, kayak, orbitz, etc. This guys can’t be wrong. You should definitely give it a shot :)</p>
                            </div><!-- end post-content -->
                        </div><!-- end post-wrapper -->
                    </div><!-- end col -->

                    <div class="col-sm-6">
                        <div class="clearfix">
                            <div class="post-media clearfix">
                                <a href="blog-single.html"><img src="static/upload/home_desti_01.jpg" alt="" class="img-responsive"></a>
                            </div><!-- end post-media -->

                            <div class="post-title clearfix">
                                <div class="pull-left">
                                    <h5><a href="blog-single.html">ISTANBUL</a></h5>
                                    <h6>120 PLACES</h6>
                                </div>
                                <div class="pull-right">
                                    <h5>FROM <span>$331</span></h5>
                                </div>
                            </div><!-- end ost-title -->
                            <div class="post-content clearfix">
                                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia, priceline, hotels.com, kayak, orbitz, etc. This guys can’t be wrong. You should definitely give it a shot :)</p>
                            </div><!-- end post-content -->
                        </div><!-- end post-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end related-hotels -->

            <hr>
            <br>

            <div class="clearfix">
                <div class="row">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="clearfix">
                            <div class="hotel-wrapper">
                                <div class="post-media">
                                    <a href="hotel-single.html"><img src="static/upload/hotel_01.png" alt="" class="img-responsive"></a>
                                </div><!-- end media -->
                                <div class="post-title clearfix">
                                    <div class="pull-left">
                                        <h5><a href="hotel-single.html" title="">VALLE AURINA</a></h5>
                                    </div><!-- end left -->
                                    <div class="pull-right">
                                        <h6>$500</h6>
                                    </div><!-- end left -->
                                </div><!-- end title -->
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span><!-- end rating -->
                                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia..</p>
                            </div><!-- end hotel-wrapper -->                            
                        </div><!-- end clearfix -->
                    </div><!-- end col -->

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="clearfix">
                            <div class="hotel-wrapper">
                                <div class="post-media">
                                    <a href="hotel-single.html"><img src="static/upload/hotel_02.png" alt="" class="img-responsive"></a>
                                </div><!-- end media -->
                                <div class="post-title clearfix">
                                    <div class="pull-left">
                                        <h5><a href="hotel-single.html" title="">DELUXE HOTEL</a></h5>
                                    </div><!-- end left -->
                                    <div class="pull-right">
                                        <h6>$500</h6>
                                    </div><!-- end left -->
                                </div><!-- end title -->
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span><!-- end rating -->
                                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia..</p>
                            </div><!-- end hotel-wrapper -->                            
                        </div><!-- end clearfix -->
                    </div><!-- end col -->

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="clearfix">
                            <div class="hotel-wrapper">
                                <div class="post-media">
                                    <a href="hotel-single.html"><img src="static/upload/hotel_03.png" alt="" class="img-responsive"></a>
                                </div><!-- end media -->
                                <div class="post-title clearfix">
                                    <div class="pull-left">
                                        <h5><a href="hotel-single.html" title="">5STAR ARGANTINE</a></h5>
                                    </div><!-- end left -->
                                    <div class="pull-right">
                                        <h6>$500</h6>
                                    </div><!-- end left -->
                                </div><!-- end title -->
                                <span class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </span><!-- end rating -->
                                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia..</p>
                            </div><!-- end hotel-wrapper -->                            
                        </div><!-- end clearfix -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section fullscreen background parallax" style="background-image:url('static/upload/parallax_05.jpg');" data-img-width="1921" data-img-height="665" data-diff="20">
        <div class="container">
            <div class="home-message text-center">
                <h1>LET’S DISCOVER THE<br>WORLD TOGETHER</h1>
                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo<br> travel, expedia, priceline, hotels.com, travelocity, kayak, orbitz, etc. This guys can’t be wrong.<br> You should definitely give it a shot :)</p>
                <a href="#" class="btn btn-primary btn-lg border-radius">READ MORE</a>
            </div><!-- end homemessage -->
        </div><!-- end container -->
    </section><!-- end section -->

    <section class="section clearfix">
        <div class="container">
            <div class="popular-destinations clearfix">
                <div class="hotel-title">
                    <h5>NEWS AND UPDATES</h5>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="clearfix">
                            <div class="post-media clearfix">
                                <a href="blog-single.html"><img src="static/upload/home_blog_05.jpg" alt="" class="img-responsive"></a>
                            </div><!-- end post-media -->

                            <div class="post-title clearfix">
                                <h5><a href="blog-single.html">THAILAND BY TRAIN WITH EASTERN AND ORIENTAL EXPRESS</a></h5>
                            </div><!-- end ost-title -->

                            <div class="post-meta home-blog-list clearfix">
                                <span><i class="icon-attach"></i> 03 Feb 2015</span>
                                <span><i class="icon-map110"></i> Asia, Thailand</span>
                            </div><!-- ne dpost-meta -->
                            
                            <div class="post-content clearfix">
                                <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia, priceline, hotels.com, travelocity, kayak, orbitz, etc. This guys can’t be wrong. You should definitely give it a shot :) ed on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia.</p>
                            </div><!-- end post-content -->
                        </div><!-- end post-wrapper -->
                    </div><!-- end col -->

                    <div class="col-md-6">
                        <div class="row">
                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <div class="post-media clearfix">
                                        <a href="blog-single.html"><img src="static/upload/home_blog_06.jpg" alt="" class="img-responsive"></a>
                                    </div><!-- end post-media -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="post-title clearfix">
                                        <h5><a href="blog-single.html">SANTORINI - GREECE</a></h5>
                                    </div><!-- end ost-title -->

                                    <div class="post-meta home-blog-list clearfix">
                                        <span><i class="icon-map110"></i> Greece, Santorina</span>
                                    </div><!-- ne dpost-meta -->
                                    
                                    <div class="post-content clearfix">
                                        <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia</p>
                                    </div><!-- end post-content -->
                                </div><!-- end col -->
                            </div><!-- end clearfix -->

                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <div class="post-media clearfix">
                                        <a href="blog-single.html"><img src="static/upload/home_blog_07.jpg" alt="" class="img-responsive"></a>
                                    </div><!-- end post-media -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="post-title clearfix">
                                        <h5><a href="blog-single.html">YUCATAN - MEXICO..</a></h5>
                                    </div><!-- end ost-title -->

                                    <div class="post-meta home-blog-list clearfix">
                                        <span><i class="icon-map110"></i> Amerika, Mexico</span>
                                    </div><!-- ne dpost-meta -->
                                    
                                    <div class="post-content clearfix">
                                        <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia</p>
                                    </div><!-- end post-content -->
                                </div><!-- end col -->
                            </div><!-- end clearfix -->

                            <div class="clearfix">
                                <div class="col-sm-6">
                                    <div class="post-media clearfix">
                                        <a href="blog-single.html"><img src="static/upload/home_blog_08.jpg" alt="" class="img-responsive"></a>
                                    </div><!-- end post-media -->
                                </div>
                                <div class="col-sm-6">
                                    <div class="post-title clearfix">
                                        <h5><a href="blog-single.html">ISTANBUL - TURKEY..</a></h5>
                                    </div><!-- end ost-title -->

                                    <div class="post-meta home-blog-list clearfix">
                                        <span><i class="icon-map110"></i> Asia, Turkey</span>
                                    </div><!-- ne dpost-meta -->
                                    
                                    <div class="post-content clearfix">
                                        <p>Template based on deep research on the most popular travel booking websites such as booking.com, tripadvisor, yahoo travel, expedia</p>
                                    </div><!-- end post-content -->
                                </div><!-- end col -->
                            </div><!-- end clearfix -->
                        </div><!-- end row -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end related-hotels -->
        </div><!-- end container -->
    </section><!-- end section -->

    <article class="map-section">
        <div id="map"></div>
    </article><!-- end section -->

    <footer class="footer clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6 col-xs-12 text-center">
                    <div class="flogo">
                        <img src="static/images/flogo.png" alt="">
                    </div><!-- end logo -->
                </div><!-- end col -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h3>ABOUT</h3>
                        </div><!-- end title -->
                        <div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime molestias numquam odio officiis, possimus quo rem. </p>
                            <p>Ab aut dignissimos ea est, impedit incidunt, laboriosam maxime molestias numquam odio officiis.</p>
                        </div><!-- end textwidget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="widget">
                        <div class="widget-title">
                            <h3>NEWSLETTER</h3>
                        </div><!-- end title -->
                        <div class="newsletterwidget">
                            <p>Subscribe to our newsletter to receive news & updates. We promise not spamming you, super promise! </p>
                            <form id="newsletter" class="form-inline">
                                <div class="form-group">
                                    <input type="text" class="form-control border-radius" placeholder="Your email here">
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg border-radius">Send</button>
                            </form>
                        </div><!-- end newsletter widget -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end copyrights -->



{% endblock %}


